     {% load static %}
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      {% block leftbaruser %}
          <div class="image">
              <img src="{% static 'dist/img/adminLogo.jpg' %}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
              <a href="/admin" class="d-block">Aman Patel</a>
          </div>
      {% endblock leftbaruser %}
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
          {% block leftbarsearch %}
          <div class="input-group" data-widget="sidebar-search">
              <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                  <button class="btn btn-sidebar">
                      <i class="fas fa-search fa-fw"></i>
                  </button>
              </div>
          </div>
          {% endblock leftbarsearch %}
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
          {% block leftbarmenu %}
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
              <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
              <li class="nav-item menu-open">
                  <a href="#" class="nav-link active">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                          Blog
                          <i class="right fas fa-angle-left"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview">
                      <li class="nav-item">
                          <a href="{% url 'blog:latest_p' 0 %}" class="nav-link active">
                              <i class="far fa-circle nav-icon"></i>
                              <p>Latest</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'blog:latest_p' 0 %}" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>Trending</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'blog:latest_p' 0 %}" class="nav-link">
                              <i class="far fa-circle nav-icon"></i>
                              <p>Last Year</p>
                          </a>
                      </li>
                  </ul>
              </li>
              {% comment %} <li class="nav-header">LABELS</li>
              <li class="nav-item">
                  <a href="#" class="nav-link">
                      <i class="nav-icon far fa-circle text-danger"></i>
                      <p class="text">Important</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">
                      <i class="nav-icon far fa-circle text-warning"></i>
                      <p>Warning</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">
                      <i class="nav-icon far fa-circle text-info"></i>
                      <p>Informational</p>
                  </a>
              </li> {% endcomment %}
          </ul>
          {% block addleftbar %}
          {% endblock addleftbar %}
          {% endblock leftbarmenu %}
      </nav>
      <!-- /.sidebar-menu -->